body {
    margin: 0;
    padding: 0;
    background-color: #fffde7;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

}

#app {
    width: 100vw;
    height: 100vh;
    position: relative;
}

 h1 {
    color: #cdd6f4; 
    margin: 0 0 10px 0;
 }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #11111b;
    font-family: 'sans-serif';
  }

  .uiOverlay {
    margin-bottom: 15px;
    display: 'flex';
    gap: '10px';
  }

  .btnPrimary {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #89b4fa;
    border: none;
    border-radius: 5px;
    font-weight: bold;
  }

  .btnDanger {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f38ba8;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
  }

  .btnSecondary {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #6c7086;
    color: #fff;
    border: none;
    border-radius: 5px;
  }
